<mat-sidenav-container class="shell">
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="drawerMode()"
    [opened]="drawerMode() === 'side'"
    [style.width.px]="drawerMode() === 'over' ? 260 : (collapsed() ? 80 : 260)"
    [style.minWidth.px]="drawerMode() === 'over' ? 260 : (collapsed() ? 80 : 260)"
    [class.collapsed]="collapsed() && drawerMode() === 'side'"
    [attr.aria-label]="collapsed() ? 'Navegación colapsada' : 'Navegación'"
    fixedInViewport="true"
  >
    
    <a class="brand" [routerLink]="routeBrand()" matTooltip="{{ appName() }}" [matTooltipDisabled]="showText()">
      <mat-icon class="brand-icon">{{ appLogo() }}</mat-icon>
      @if (showText()) { <span class="brand-text">{{ appName() }}</span> }
    </a>

    
    <mat-nav-list class="nav-list">
      @for (item of items(); track item.route) {
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active"
           [disabled]="item.disabled"
           [matTooltip]="collapsed() ? item.label : ''"
           matTooltipPosition="right"
           class="nav-item">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          @if (showText()) { <span matListItemTitle>{{ item.label }}</span> }
          @if (item.badge && showText()) {
            <span class="badge">{{ item.badge }}</span>
          }
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  
  <mat-sidenav-content 
    class="content"
    [style.margin-left.px]="drawerMode() === 'side' ? (collapsed() ? 80 : 260) : 0">
    <div class="content-inner">
      <ng-content />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
