<div class="header mt-6">
  <h1 class="text-2xl font-bold">Planificación de los viajes</h1>
  <button mat-flat-button color="primary" (click)="openRegisterDialog()">
    <mat-icon>add</mat-icon>
    Planificar viaje
  </button>
</div>

@if (loading()) {
<div class="loading-container">
  <mat-spinner diameter="48"></mat-spinner>
  <p>Cargando planificaciones...</p>
</div>
} @else if (trips().length === 0) {
<app-emptystate
  [imageSrc]="'no-trips.svg'"
  [title]="'Aún no hay viajes planificados'"
  [description]="'No se han planificado viajes aún'"
/>
} @else {

<div class="cards-grid">
  @for (trip of trips(); track trip.idviaje) {
  <app-planning-card
    [idviaje]="trip.idviaje"
    [fechaViaje]="trip.fechaViaje"
    [destino]="trip.destino"
    [horaPartida]="trip.horapartida"
    [horaLlegada]="trip.horallegada"
    [cantdisponibleasientos]="trip.cantdisponibleasientos"
    (editar)="editarViaje(trip.idviaje)"
    (eliminar)="eliminarViaje(trip.idviaje)"
    (actualizarAsientos)="actualizarAsientosDisponibles($event)"
  ></app-planning-card>

  }
</div>
}
