.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  margin-top: 1.25rem;

  .export-button {
    margin-right: 1.25rem;
  }
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h1 {
      margin: 0;
    }

    .export-button {
      width: 100%;
      margin: 0;
    }
  }
}
