<mat-card class="planning-card mt-4">
  <div
    class="card-header"
    [ngStyle]="{
      'background-image':
        'linear-gradient(135deg,' + cardColor + ', ' + lightenColor(cardColor, 30) + ')'
    }"
  >
    <div class="header-text">
      <div class="header-title">Viaje programado a:</div>
      <div class="header-destino">{{ destino }}</div>
    </div>
  </div>

  <mat-card-content class="card-body mt-4">
    <div class="info-row">
      <mat-icon>event</mat-icon>
      <span>{{ fechaViaje | date: "EEEE, d 'de' MMMM 'de' y"}}</span>
    </div>
    <div class="info-row">
      <mat-icon>schedule</mat-icon>
      <span>Salida: {{ horaPartida.slice(0,5) }}</span>
    </div>
    <div class="info-row">
      <mat-icon>schedule</mat-icon>
      <span>Llegada: {{ horaLlegada.slice(0,5) }}</span>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="onVerMas(idviaje)">
      <mat-icon>visibility</mat-icon> Ver más
    </button>
    <button mat-button color="accent" (click)="onEditar()">
      <mat-icon>edit</mat-icon> Editar
    </button>
    <button mat-button color="warn" (click)="onEliminar()">
      <mat-icon>delete</mat-icon> Eliminar
    </button>
  </mat-card-actions>
</mat-card>
