@use "@angular/material" as mat;
@use "./app/styles/tailwind.css";

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$cyan-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
.mdc-notched-outline__notch {
  border-right: none;
}
html,
body {
  height: 100%;
  overflow-y: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  height: 100%;
}
